# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# VSCode settings (optional)
.vscode/

# Mac/Linux hidden files
.DS_Store

# Logs or cache
*.log
*.cache
.cache/

# reports
reports/